*{
    border: none;
    box-sizing: border-box;
}

.Signup-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.signup-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px #0000001a;
    padding: 0;
    overflow: hidden;
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
    color: #ff6a00;
    text-decoration: none;
    line-height: 1;
    transition: 0.2s;
}

.close-btn:hover {
    color: #3b20a7;
    transform: scale(1.1);
}

.top-panel {
    padding: 30px 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.signup-logo {
    width: 140px;
}

.bottom-panel {
    background: #ffffff;
}

.signup-btn {
    background-color: #0DCAF0;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.signup-btn:hover {
    background-color: #3b20a7;
    color: white;
}

.login-text a {
    color: #0660e8;
    font-weight: 600;
}

/* INPUT STYLE LIKE FLIPKART */
.input-line {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 8px 5px;
    outline: none;
    font-size: 16px;
}

.input-line:focus {
    border-bottom: 2px solid #0DCAF0;
}
